.App {
  width: 100%;
  max-width: 800px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  box-sizing: border-box;
  padding: 30px;
}

.searchBar {
  border: 0;
  border-bottom: 2px solid #b5b5b5;
  padding-bottom: 15px;

  transition: border-bottom-color .2s ease-in-out;

  font-size: 2em;
}

.searchBar:focus {
  border-bottom-color: #767676;
  outline: 0;
}

.funds {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.fund {
  width: 32%;
  margin-right: 2%;
}

.fund:nth-child(3n+3) {
  margin-right: 0;
}
